@using BlazorTrades.Data
@inject CounterService CounterService

<h3>Counter</h3>

<h2>
    @CounterService.CurrentValue
</h2>

@code {
    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        CounterService.OnChange += async () => await InvokeAsync(StateHasChanged);
        return base.OnAfterRenderAsync(firstRender);
    }
}